#title {
  background-color: #ff4c68;
  color: #fff;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: 700;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
}

h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bolder;
}

h3 {
  font-weight: bold;
}

h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

.Download-button {
  margin: 5% 3% 0 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  /* position: absolute; */
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  /* position: relative; */
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  /* padding: 7% 15%; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}
.test-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align:center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
  border-radius: 10%;
}

#footer{
  background-color: #000;

  text-align:center;
  padding: 2% 0 1%;

}
.ficon{
  margin: 20px 10px;

  color: white;
  text-decoration: none;
}
.ficon:hover{
  color: #ff4c68;
  transform: scale(3);

}
@media (max-width:1028) {
.title{
  text-align: center;
}
.title-image{
  position: static;
  transform:rotate(0);
}
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 4% 15%;
  color: #fff;
}
